.ActivityCard {
  padding: 16px;
  text-align: center;
  background-color: #1d1d41;
  color: #fff;
  border-radius: 10px;
  width: 235%;
  min-width: 205%;
  height: 300px;  
  font-size: 16px;
  position: relative;
  right: 230px;
  bottom: 1100px;
  margin-top: 3rem;
}
