.graph {
  width: 65%;
  margin-top: 2rem;
  background-color: #1d1d41;
  color: #fff;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  bottom: 300px;
}
h2 {
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: 24px;
}

