.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 100%;
}
.header1 {
  flex: 1;
}
.heading {
  font-size: 20px;
  font-weight: bold;
}
.subheading {
  font-size: 14px;
  font-weight: lighter;
}
.searchBar {
  margin-left: 30rem;
}
input {
  background-color: #1d1d41;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 5px;
  width: 300px;
}

/* cards */
/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  margin: 3rem 0;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -15px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  background-color: #1d1d41;
  color: #fff;
  border-radius: 10px;
}

h3{
  color: #8C89B4;
  font-size: 16px;
  font-weight: lighter;
  line-height: 2rem;
}
.icon{
  position: relative;
  top: 2.6rem;
  right: 6.2rem;
  background-color: #64CFF6;
  padding: 1rem 1rem;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}
.amount{
  font-size: 24px;
  font-weight: bold;
}
.percentageBox1{
  position: relative;
  left: 120px;
  bottom: 25px;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: #02b1597a;
  color: #02b159;
  font-size: 12px;
} 
.percentageBox2{
  position: relative;
  left: 120px;
  font-size: 12px;
  bottom: 25px;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: #e4141469;
  color: #E41414;
} 
.Total{
  position: relative;
  right: 22px;
}
.MyCard{
  text-align: left;
  font-size: 24px;
  padding-bottom: 2rem;

}
.CardBalance{
  color: #b8b6d8;
  font-size: 16px;
  line-height: 2rem;
}
.mastercard{
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  background: linear-gradient(170deg, #9C2CF3, #3A6FF9);
  cursor: pointer;

} 
.logo{
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 40px;
  left: 200px;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.primaryBTN{
  background-color: #6359E9;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 16px;
  border: 1px;
  margin-top: 2rem;
}
.primaryBTN:hover{
  background: transparent;
  cursor: pointer;
  border: 1px solid #6359E9;
  color: #6359E9;

}
.secondaryBTN{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 2rem;
}
.secondaryBTN:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
}